
body {
  background-color: rgb(251, 251, 251);
}

@media (min-width: 768px) {
    .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
   }
 }
 
#texte 
{
  font-family: Arial;
  color:#000000;
  font-size: 20px;
}

.texte
{
  color: black;
}
.texte:hover
{
  color:blue;
}
.texte:active
{
  color: aqua;
}

.card-group
{
  font-family: Arial;
  text-align: center;
}