
body {
  background-color: rgba(251, 251, 251, 0.918);
}
.navbar
{
  background-color:#6addff;
}

.card-img-top
{
  max-width: 500px;
  max-height: 200px;
}
 
#texte 
{
  font-family: Arial;
  color:#000000;
  font-size: 20px;
}

.texte
{
  color: black;
}
.texte:hover
{
  color:blue;
}
.texte:active
{
  color: aqua;
}

.card-group
{
  font-family: Arial;
  text-align: center;
}
.btn-center
{
  text-align:center;
}